.text {
  font-weight: 400px;
  font-size: @font-t1;
  &-title-l {
    font-weight: 500px;
    font-size: @font-h1;
  }
  &-title-m {
    font-weight: 500px;
    font-size: @font-h2;
  }
  &-title-s {
    font-weight: 500px;
    font-size: @font-h3;
  }
  &-s {
    font-weight: 400px;
    font-size: @font-t2;
  }
  &-o1 {
    font-weight: 400px;
    font-size: @font-o1;
  }
  &-o2 {
    font-weight: 400px;
    font-size: @font-o2;
  }
  &-ellipsis {
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
